
body {
  margin: 0;
  text-align: center;
  font-family: Georgia, serif,Arial;

}
h1{
  width: 20%;
  margin: 40px auto 0 auto;
/*  margin: 35px auto;*/
}

.pro{
  text-decoration: underline;
}
.top-div{
    background-color: #85F4FF;
    padding: 100px;

}
.mid-div{
  width: 200px;
  height: 200px;
  background-color: red;
}

.bottom-div{
  width: 200px;
  height: 200px;
  background-color: green;
}

.top-cloud{
  position: absolute;
  right: 20%;
}
.bottom-cloud{
  position: absolute;
  left: 20%
}
